/* Color Palette:
Light Shades: #f5f5ff;
Light Accent: #7b7e84;
Main Brand Color: #9094a0;
Dark Accent: #686d80;
Dark Shades: #323d62;
*/

.name{
    text-align: center;
    color:#323d62;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size:large;
    background-color:#9094a0;
}
body{
    color:#323d62;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: meduim;
    background-color:#9094a0;
}
strong{
    color:#f5f5ff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: meduim;
}
header{
    text-align:center;
    text-transform: bold;
    color:#f5f5ff;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
    padding:20px;
}


p{
    text-align:center;
    text-transform: bold;
    color:#f5f5ff;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
    padding:20px;
}
footer{
    color:#323d62;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size:smaller;
    background-color:#9094a0;

}
h2{
    color:#f5f5ff;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size:large;
    background-color:#7b7e84;
    height: 50px;
    text-align: center;
}
ol{
    color:#323d62;
    font-family: Georgia, Times, 'Times New Roman';
    font-size:large;
    background-color:#686d80;
    text-align: center;
}
.list{
    color:#323d62;
    font-family: Georgia, Times, 'Times New Roman';
    font-size:large;
    text-align: center;
}

img{

    display: inline-block;
    border-radius: 40%;
    width: 200px;
    border-color: #706e7e;
    margin-left:auto;
    margin-right: auto;
}

nav{
    width:100%;
    position: fixed;
    position:-webit-sticky;
    position:sticky;
    top: 0;
    border-right: 1px solid #686d80;
}
.navbar{
    top:0;
    overflow:hidden;
    background-color: #686d80;
    list-style-type:none;
    margin: 0;
    padding: 0;
    height: auto;
    position: sticky;
}
.navbar li{
    float:left;
    margin-right:1px
}
.navbar li:last-child{
    border-right: none;
}

nav a{
    float: left;
    color:#f5f5ff;
    display: block;
    padding: 8px;
    background-color:#7b7e84;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.image{
    display:flex;
    justify-content: center;
    align-items: center;
}

.column{
    float:left;
    width: 23%;
    padding: 5px;
    box-sizing: border-box;
}
.row:after{
    content: "";
    display: table;
    clear: both;

}

@media screen and (max-width: 600px){
    .column{
        width:100%;
    }
} 

.card{
    border: 3px #7b7e84;
    background-color: #686d80;
    border-radius: 5px;
    margin: 2px;
}


.sectiontitle{
    color: #686d80;
    text-align:center
}
a:hover{
    color: #686d80;
}

.container{
    background-color: #686d80;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
    justify-content:center;
    justify-content: space-around;
    justify-content: space-between;
    height: 400px;
    align-items: center;
    text-align: center;
}

.box{
    background-color: #7b7e84;
    color: #f5f5ff;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

